.card {
  border: none;
  border-radius: 12px;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
  padding: 10px;
  font-weight: 500;
}

.btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

.form-control:focus {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

